client/.next/app-build-manifest.json
client/.next/trace
client/.next/cache/webpack/client-development/4.pack
client/.next/cache/webpack/client-development/index.pack
client/.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/_error.js
.next/server/app-paths-manifest.json
.next/server/flight-manifest.js
.next/server/flight-manifest.json
.next/server/flight-server-css-manifest.js
.next/server/flight-server-css-manifest.json
.next/server/webpack-runtime.js
.next/server/app/page.js
.next/static/chunks/_error.js
/.next
next.config.js
yarn.lock
/node_modules
