client/.next
client/next.config.js
client/yarn.lock
client/node_modules
client/app/page.jsx
client/.next/app-build-manifest.json
client/.next/trace
client/.next/cache/webpack/client-development/0.pack
client/.next/cache/webpack/client-development/1.pack
client/.next/cache/webpack/client-development/2.pack
client/.next/cache/webpack/client-development/3.pack
client/.next/cache/webpack/client-development/4.pack
client/.next/cache/webpack/client-development/index.pack
client/.next/cache/webpack/client-development/index.pack.old
client/.next/cache/webpack/server-development/0.pack
client/.next/cache/webpack/server-development/1.pack
client/.next/cache/webpack/server-development/2.pack
client/.next/cache/webpack/server-development/3.pack
client/.next/cache/webpack/server-development/4.pack
client/.next/cache/webpack/server-development/5.pack
client/.next/cache/webpack/server-development/index.pack
client/.next/cache/webpack/server-development/index.pack.old
client/.next/server/_error.js
client/.next/server/app-paths-manifest.json
client/.next/server/flight-manifest.js
client/.next/server/flight-manifest.json
client/.next/server/flight-server-css-manifest.js
client/.next/server/flight-server-css-manifest.json
client/.next/server/webpack-runtime.js
client/.next/server/app/page.js
client/.next/static/chunks/_error.js
client/.next/static/chunks/app-client-internals.js
client/.next/static/chunks/main-app.js
client/.next/static/chunks/main.js
client/.next/static/chunks/webpack.js
client/.next/static/chunks/app/head.js
client/.next/static/chunks/app/layout.js
client/.next/static/chunks/app/page.js
client/.next/static/webpack/7e742546e12f54a0.webpack.hot-update.json
client/.next/static/webpack/8e533eb635b5ad95.webpack.hot-update.json
client/.next/static/webpack/app-client-internals.8e533eb635b5ad95.hot-update.js
client/.next/static/webpack/f679a84c4f22784c.webpack.hot-update.json
client/.next/static/webpack/webpack.7e742546e12f54a0.hot-update.js
client/.next/static/webpack/webpack.8e533eb635b5ad95.hot-update.js
client/.next/static/webpack/webpack.f679a84c4f22784c.hot-update.js
