<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settings</title>
</head>
<body>
    <nav id="companystuff">
        <ul>
          <li><a href="#">version</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Terms of use</a></li>
          <li>
            <form action="/logout" method="POST">
                <button class="logout">Logout</button>
            </form>
          </li>
        </ul>
    </nav>
</body>
</html>