<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/login_styles.css">
    <title>Login</title>
</head>
<body>
    <% if (messages.error) { %>
        <%= messages.error %>
    <% } %>
    <div class="welcome-back">
        <h1>Debation</h1>
        <p>Welcome back!</p>
    </div>
    <!-- <div class="login-section"> -->
        <div class="loginform">
            <h3>Login:</h3>
            <form action="/login" method="POST">
                <input type="text" name="username" id="username" value="people" placeholder="User Name" autocomplete required>
                <input type="password" name="password" id="password" value="a" placeholder="Password" autocomplete required>
                <input type="submit" id="submit" value="login">
            </form>
        </div>
        <div class="not-login">
            <div>
                <p>Don't have an account?</p>
                <a href="/register">
                    <button>Sign up</button>
                </a>
            </div>
            <div class="private">
                <p>Want to join a private meeting?</p>
                <a href="/anonymous"><button>Join private room</button></a>
            </div>
        </div>
    <!-- </div> -->
    <footer>
       &copy; 2022 Copyright: Emmanuel.com
    </footer>
</body>
</html>