*{margin: 0; box-sizing: border-box;}


@media screen and (min-width: 992px)
{

body{
    background-color: purple;
    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 25vh 70vh 5vh;
}

.welcome-back{
    grid-row: 1/2;
    grid-column: 1/2;
}

/* loginform */
.loginform{
    background-color: white;
    width: 70%;
    height: 55vh;
    margin: 2rem 0 0 5.5rem;
    text-align: center;
    border-radius: 1rem;
    grid-column: 1/2;
    grid-row: 2/3;
}

.loginform h3{
    width: 85%;
    margin: 2.8rem auto 0;
    text-align: left;
}

.loginform form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1rem auto;
}

.loginform form input{
    width: 95%;
    height: 7vh;
    padding: 1rem;
    margin: 1.7rem auto 0;
    border: 0;
    border-radius: 10px;
    outline: 0;
    background-color: rgb(46 46 238 / 0.5);
    font-size: 1.6rem;
}

.loginform form input[type=submit], button{
    height: 3rem;
    padding: 0.5rem;
    margin: 2.7rem auto 0;
    width: 20vw;
    border: 0;
    border-radius: 1rem;
    background-color: rgba(46, 46, 238, 0.87);
}

input:focus{
    border-color: purple;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
}

/* other buttons */
.not-login{
    background-color: rgb(0 0 0 / 0.5);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    grid-row: 1/4;
    grid-column: 2/3;
}

.not-login button{
    margin: 0 auto 1rem;
    width: 20vw;
    font-size: 1.2rem;
}

.not-login div{
    text-align: center;
    margin: 25vh auto 0;
    font-size: 1.2rem;
    /* color: white; */
}

footer{
    grid-row: 3/4;
    grid-column: 1/2;
}

}



@media screen and 
(min-width: 768px) and 
(max-width: 991px)
{
    body{
        background-color: purple;
        display: flex;
        flex-direction: column;
        font-size: 2rem;
    }
    
    .welcome-back{
        margin: 2rem;
        text-align: center;
    }
    
    .loginform{
        background-color: white;
        width: 75%;
        height: 48vh;
        text-align: center;
        border-radius: 1rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        z-index: 2;
    }
    
    .loginform form{
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: 1rem auto;
    }
    
    .loginform h3{
        width: 85%;
        margin: 1.3rem auto 0;
    }
    
    .loginform form input{
        width: 85%;
        height: 5vh;
        border: 0;
        outline: 0;
        border-bottom: 1px solid #000000;
        margin: 3.5rem auto 0; 
        font-size: 1.6rem;
    }
    
    .loginform form input[type=submit], button{
        height: 6.5vh;
        border: 0;
        border-radius: 1rem;
        background-color: rgba(46, 46, 238, 0.87);
        margin: 7rem auto 0;

    }
    
    input:focus{
        border-color: purple;
    }
    
    [placeholder]:focus::-webkit-input-placeholder {
        transition: text-indent 0.4s 0.4s ease;
        text-indent: -100%;
        opacity: 1;
    }
    
    
    /* remaining buttons */
    .not-login{
        background-color: rgb(255 255 255 / 0.9);
        width: 75%;
        margin: 0 auto;
        padding: 3.2rem 0 0.7rem;
        display: flex;
        flex-direction: column;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        transform: translateY(-4vh);
    }
    
    .not-login button{
        margin: 0 auto 1rem;
        width: 53vw;
        font-size: 1.4rem;
    }
    
    .not-login div{
        text-align: center;
        margin: 0 auto;
        margin: 2.5rem auto 0;
    }
    
    footer{
        background-color: rgb(0 0 0 / 0.5);
        padding: 1rem;
        margin: 1.5vh 0 0;
        text-align: center;
        grid-row: 3/4;
        grid-column: 1/2;
    }
}

@media screen and (max-width: 767px) /*768*/
{
body{
    background-color: purple;
    display: flex;
    flex-direction: column;
    /* font-size: 2rem; */
}

.welcome-back{
    margin: 2rem;
    text-align: center;
}

.loginform{
    background-color: white;
    width: 75%;
    /* height: 48vh; */
    text-align: center;
    border-radius: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    z-index: 2;
}

.loginform form{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 1rem auto;
}

.loginform h3{
    width: 85%;
    margin: 1.3rem auto 0;
}

.loginform form input{
    width: 85%;
    height: 5vh;
    margin: 1.3rem auto 0;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #000000;
}

.loginform form input[type=submit], button{
    height: 6.5vh;
    margin: 3.5rem auto 0;
    border: 0;
    border-radius: 1rem;
    background-color: rgba(46, 46, 238, 0.87);
}

input:focus{
    border-color: purple;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
}


/* remaining buttons */
.not-login{
    background-color: rgb(255 255 255 / 0.9);
    width: 75%;
    margin: 0 auto;
    padding: 3.2rem 0 0.7rem;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transform: translateY(-4vh);
}

.not-login button{
    margin: 0 auto 1rem;
    width: 53vw;
}


.not-login div{
    text-align: center;
    margin: 0 auto;
}

footer{
    background-color: rgb(0 0 0 / 0.5);
    padding: 1rem;
    margin: 1.5vh 0 0;
    text-align: center;
    grid-row: 3/4;
    grid-column: 1/2;           
}
}